UpdateStocks/web/WEB-INF/wsdl/localhost_8080/SharesBrokerWS/SharesBrokerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sharesbroker.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sharesbroker.me.org/" name="SharesBrokerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/shares" schemaLocation="http://localhost:8080/SharesBrokerWS/SharesBrokerWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://sharesbroker.me.org/" schemaLocation="http://localhost:8080/SharesBrokerWS/SharesBrokerWS?xsd=2"/>
</xsd:schema>
</types>
<message name="Purchase_Shares">
<part name="parameters" element="tns:Purchase_Shares"/>
</message>
<message name="Purchase_SharesResponse">
<part name="parameters" element="tns:Purchase_SharesResponse"/>
</message>
<message name="Load_Shares_From_XML">
<part name="parameters" element="tns:Load_Shares_From_XML"/>
</message>
<message name="Load_Shares_From_XMLResponse">
<part name="parameters" element="tns:Load_Shares_From_XMLResponse"/>
</message>
<message name="Save_Shares_To_XML">
<part name="parameters" element="tns:Save_Shares_To_XML"/>
</message>
<message name="Save_Shares_To_XMLResponse">
<part name="parameters" element="tns:Save_Shares_To_XMLResponse"/>
</message>
<message name="Sell_Shares">
<part name="parameters" element="tns:Sell_Shares"/>
</message>
<message name="Sell_SharesResponse">
<part name="parameters" element="tns:Sell_SharesResponse"/>
</message>
<message name="Add_New_Company">
<part name="parameters" element="tns:Add_New_Company"/>
</message>
<message name="Add_New_CompanyResponse">
<part name="parameters" element="tns:Add_New_CompanyResponse"/>
</message>
<message name="Update_SharePrice">
<part name="parameters" element="tns:Update_SharePrice"/>
</message>
<message name="Update_SharePriceResponse">
<part name="parameters" element="tns:Update_SharePriceResponse"/>
</message>
<portType name="SharesBrokerWS">
<operation name="Purchase_Shares">
<input wsam:Action="http://sharesbroker.me.org/SharesBrokerWS/Purchase_SharesRequest" message="tns:Purchase_Shares"/>
<output wsam:Action="http://sharesbroker.me.org/SharesBrokerWS/Purchase_SharesResponse" message="tns:Purchase_SharesResponse"/>
</operation>
<operation name="Load_Shares_From_XML">
<input wsam:Action="http://sharesbroker.me.org/SharesBrokerWS/Load_Shares_From_XMLRequest" message="tns:Load_Shares_From_XML"/>
<output wsam:Action="http://sharesbroker.me.org/SharesBrokerWS/Load_Shares_From_XMLResponse" message="tns:Load_Shares_From_XMLResponse"/>
</operation>
<operation name="Save_Shares_To_XML">
<input wsam:Action="http://sharesbroker.me.org/SharesBrokerWS/Save_Shares_To_XMLRequest" message="tns:Save_Shares_To_XML"/>
<output wsam:Action="http://sharesbroker.me.org/SharesBrokerWS/Save_Shares_To_XMLResponse" message="tns:Save_Shares_To_XMLResponse"/>
</operation>
<operation name="Sell_Shares">
<input wsam:Action="http://sharesbroker.me.org/SharesBrokerWS/Sell_SharesRequest" message="tns:Sell_Shares"/>
<output wsam:Action="http://sharesbroker.me.org/SharesBrokerWS/Sell_SharesResponse" message="tns:Sell_SharesResponse"/>
</operation>
<operation name="Add_New_Company">
<input wsam:Action="http://sharesbroker.me.org/SharesBrokerWS/Add_New_CompanyRequest" message="tns:Add_New_Company"/>
<output wsam:Action="http://sharesbroker.me.org/SharesBrokerWS/Add_New_CompanyResponse" message="tns:Add_New_CompanyResponse"/>
</operation>
<operation name="Update_SharePrice">
<input wsam:Action="http://sharesbroker.me.org/SharesBrokerWS/Update_SharePriceRequest" message="tns:Update_SharePrice"/>
<output wsam:Action="http://sharesbroker.me.org/SharesBrokerWS/Update_SharePriceResponse" message="tns:Update_SharePriceResponse"/>
</operation>
</portType>
<binding name="SharesBrokerWSPortBinding" type="tns:SharesBrokerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Purchase_Shares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Load_Shares_From_XML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Save_Shares_To_XML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Sell_Shares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Add_New_Company">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Update_SharePrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SharesBrokerWS">
<port name="SharesBrokerWSPort" binding="tns:SharesBrokerWSPortBinding">
<soap:address location="http://localhost:8080/SharesBrokerWS/SharesBrokerWS"/>
</port>
</service>
</definitions>