UpdateStocks/src/conf/xml-resources/web-service-references/SharesBrokerWS/wsdl/localhost_8080/SharesBrokerWS/SharesBrokerWS.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://sharesbroker.me.org/" xmlns:ns1="http://xml.netbeans.org/schema/shares" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sharesbroker.me.org/">

<xs:import namespace="http://xml.netbeans.org/schema/shares" schemaLocation="http://localhost:8080/SharesBrokerWS/SharesBrokerWS?xsd=1"/>

<xs:element name="Add_New_Company" type="tns:Add_New_Company"/>

<xs:element name="Add_New_CompanyResponse" type="tns:Add_New_CompanyResponse"/>

<xs:element name="Load_Shares_From_XML" type="tns:Load_Shares_From_XML"/>

<xs:element name="Load_Shares_From_XMLResponse" type="tns:Load_Shares_From_XMLResponse"/>

<xs:element name="Purchase_Shares" type="tns:Purchase_Shares"/>

<xs:element name="Purchase_SharesResponse" type="tns:Purchase_SharesResponse"/>

<xs:element name="Save_Shares_To_XML" type="tns:Save_Shares_To_XML"/>

<xs:element name="Save_Shares_To_XMLResponse" type="tns:Save_Shares_To_XMLResponse"/>

<xs:element name="Sell_Shares" type="tns:Sell_Shares"/>

<xs:element name="Sell_SharesResponse" type="tns:Sell_SharesResponse"/>

<xs:element name="Update_SharePrice" type="tns:Update_SharePrice"/>

<xs:element name="Update_SharePriceResponse" type="tns:Update_SharePriceResponse"/>

<xs:complexType name="Sell_Shares">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Sell_SharesResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Purchase_Shares">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Purchase_SharesResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Update_SharePrice">
<xs:sequence>
<xs:element name="arg0" type="ns1:SharePrice" minOccurs="0"/>
<xs:element name="arg1" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Update_SharePriceResponse">
<xs:sequence>
<xs:element name="return" type="ns1:SharePrice" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Save_Shares_To_XML">
<xs:sequence>
<xs:element name="arg0" type="ns1:Share" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Save_Shares_To_XMLResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Load_Shares_From_XML">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Load_Shares_From_XMLResponse">
<xs:sequence>
<xs:element name="return" type="ns1:Share" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Add_New_Company">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Add_New_CompanyResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>